In [1]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp

from scipy import stats
from scipy.stats import zscore
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression

In [2]:
csv = pd.read_csv("train.csv")
train = pd.DataFrame(csv)
train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CUST_ID                  700 non-null    object
 1   INCOME                   700 non-null    int64
 2   SAVINGS                  700 non-null    int64
 3   DEBT                     700 non-null    int64
 4   R_SAVINGS_INCOME         700 non-null    float64
 5   R_DEBT_INCOME            700 non-null    float64
 6   R_DEBT_SAVINGS           700 non-null    float64
 7   T_CLOTHING_12            700 non-null    int64
 8   T_CLOTHING_6             700 non-null    int64
 9   R_CLOTHING               700 non-null    float64
 10  R_CLOTHING_INCOME        700 non-null    float64
 11  R_CLOTHING_SAVINGS       700 non-null    float64
 12  R_CLOTHING_DEBT          700 non-null    float64
 13  T_EDUCATION_12           700 non-null    int64
 14  T_EDUCATION_6            700 non-null    int64
 15  R_EDUCATION              700 non-null    float64
 16  R_EDUCATION_INCOME       700 non-null    float64
 17  R_EDUCATION_SAVINGS      700 non-null    float64
 18  R_EDUCATION_DEBT         700 non-null    float64
 19  T_ENTERTAINMENT_12       700 non-null    int64
 20  T_ENTERTAINMENT_6        700 non-null    int64
 21  R_ENTERTAINMENT          700 non-null    float64
 22  R_ENTERTAINMENT_INCOME   700 non-null    float64
 23  R_ENTERTAINMENT_SAVINGS  700 non-null    float64
 24  R_ENTERTAINMENT_DEBT     700 non-null    float64
 25  T_FINES_12               700 non-null    int64
 26  T_FINES_6                700 non-null    int64
 27  R_FINES                  700 non-null    float64
 28  R_FINES_INCOME           700 non-null    float64
 29  R_FINES_SAVINGS          700 non-null    float64
 30  R_FINES_DEBT             700 non-null    float64
 31  T_GAMBLING_12            700 non-null    int64
 32  T_GAMBLING_6             700 non-null    int64
 33  R_GAMBLING               700 non-null    float64
 34  R_GAMBLING_INCOME        700 non-null    float64
 35  R_GAMBLING_SAVINGS       700 non-null    float64
 36  R_GAMBLING_DEBT          700 non-null    float64
 37  T_GROCERIES_12           700 non-null    int64
 38  T_GROCERIES_6            700 non-null    int64
 39  R_GROCERIES              700 non-null    float64
 40  R_GROCERIES_INCOME       700 non-null    float64
 41  R_GROCERIES_SAVINGS      700 non-null    float64
 42  R_GROCERIES_DEBT         700 non-null    float64
 43  T_HEALTH_12              700 non-null    int64
 44  T_HEALTH_6               700 non-null    int64
 45  R_HEALTH                 700 non-null    float64
 46  R_HEALTH_INCOME          700 non-null    float64
 47  R_HEALTH_SAVINGS         700 non-null    float64
 48  R_HEALTH_DEBT            700 non-null    float64
 49  T_HOUSING_12             700 non-null    int64
 50  T_HOUSING_6              700 non-null    int64
 51  R_HOUSING                700 non-null    float64
 52  R_HOUSING_INCOME         700 non-null    float64
 53  R_HOUSING_SAVINGS        700 non-null    float64
 54  R_HOUSING_DEBT           700 non-null    float64
 55  T_TAX_12                 700 non-null    int64
 56  T_TAX_6                  700 non-null    int64
 57  R_TAX                    700 non-null    float64
 58  R_TAX_INCOME             700 non-null    float64
 59  R_TAX_SAVINGS            700 non-null    float64
 60  R_TAX_DEBT               700 non-null    float64
 61  T_TRAVEL_12              700 non-null    int64
 62  T_TRAVEL_6               700 non-null    int64
 63  R_TRAVEL                 700 non-null    float64
 64  R_TRAVEL_INCOME          700 non-null    float64
 65  R_TRAVEL_SAVINGS         700 non-null    float64
 66  R_TRAVEL_DEBT            700 non-null    float64
 67  T_UTILITIES_12           700 non-null    int64
 68  T_UTILITIES_6            700 non-null    int64
 69  R_UTILITIES              700 non-null    float64
 70  R_UTILITIES_INCOME       700 non-null    float64
 71  R_UTILITIES_SAVINGS      700 non-null    float64
 72  R_UTILITIES_DEBT         700 non-null    float64
 73  T_EXPENDITURE_12         700 non-null    int64
 74  T_EXPENDITURE_6          700 non-null    int64
 75  R_EXPENDITURE            700 non-null    float64
 76  R_EXPENDITURE_INCOME     700 non-null    float64
 77  R_EXPENDITURE_SAVINGS    700 non-null    float64
 78  R_EXPENDITURE_DEBT       700 non-null    float64
 79  CAT_GAMBLING             700 non-null    object
 80  CAT_DEBT                 700 non-null    int64
 81  CAT_CREDIT_CARD          700 non-null    int64
 82  CAT_MORTGAGE             700 non-null    int64
 83  CAT_SAVINGS_ACCOUNT      700 non-null    int64
 84  CAT_DEPENDENTS           700 non-null    int64
 85  CREDIT_SCORE             700 non-null    int64
 86  DEFAULT                  700 non-null    int64
dtypes: float64(51), int64(34), object(2)
memory usage: 475.9+ KB

In [3]:
csv = pd.read_csv("test.csv")
test = pd.DataFrame(csv)
test

,CUST_ID,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,...,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_GAMBLING,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,DEFAULT
0,2ece1c0c86d06134,81290,966445,162580,11.8889,2.0000,0.1682,1255,0,0.1268,...,1.1111,0.0935,0.5556,No,1,0,0,1,0,0
1,94f9e0d9a7335975,25397,12698,690798,0.5000,27.2000,54.4021,1065,726,0.6817,...,1.0000,2.0001,0.0368,No,1,0,0,1,0,1
2,9f577ce0fd5bc804,158349,906910,187140,5.7273,1.1818,0.2063,6546,3268,0.4992,...,0.9091,0.1587,0.7692,High,1,0,0,1,1,0
3,50e9b79060928e1a,181639,544916,1634749,3.0000,9.0000,3.0000,10144,4351,0.4289,...,0.7143,0.2381,0.0794,No,1,1,0,1,0,0
4,c5be52b42ad6658f,277118,1408685,3972030,5.0833,14.3334,2.8197,8739,5561,0.6363,...,0.8333,0.1639,0.0581,High,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,987b2eb86827ba65,307348,351254,1866039,1.1429,6.0714,5.3125,15277,4034,0.2641,...,0.7143,0.6250,0.1176,No,1,1,1,1,0,1
296,33429bfd04967f54,244600,838627,1118170,3.4286,4.5714,1.3333,14348,8273,0.5766,...,0.7143,0.2083,0.1562,No,1,0,1,1,0,1
297,ac001fd6510a0063,17371,129317,25091,7.4444,1.4444,0.1940,527,330,0.6262,...,1.1111,0.1493,0.7692,Low,1,0,0,1,0,0
298,214fb53907843cce,97081,153712,347874,1.5833,3.5833,2.2632,7903,4098,0.5185,...,0.8333,0.5263,0.2326,No,1,0,0,1,0,0
299,f77542951a9e3503,28413,207415,31254,7.3000,1.1000,0.1507,742,156,0.2102,...,1.0000,0.1370,0.9091,No,1,0,0,1,0,0

In [4]:
train.dtypes

CUST_ID                 object
INCOME                   int64
SAVINGS                  int64
DEBT                     int64
R_SAVINGS_INCOME       float64
                        ...
CAT_MORTGAGE             int64
CAT_SAVINGS_ACCOUNT      int64
CAT_DEPENDENTS           int64
CREDIT_SCORE             int64
DEFAULT                  int64
Length: 87, dtype: object

In [5]:
# Define mapping for categories to integers
mapping = {'No': 0, 'Low': 1, 'High': 2}

# Convert categorical column to integers
train['CAT_GAMBLING_INT'] = train['CAT_GAMBLING'].map(mapping)
test['CAT_GAMBLING_INT'] = test['CAT_GAMBLING'].map(mapping)

# Drop the old column
train.drop(columns=['CAT_GAMBLING'], inplace=True)
test.drop(columns=['CAT_GAMBLING'], inplace=True)

# Convert columns to category type
train = train.astype({'CAT_GAMBLING_INT': 'category', 'DEFAULT': 'category',
                      'CAT_DEBT': 'category', 'CAT_CREDIT_CARD': 'category',
                      'CAT_MORTGAGE': 'category', 'CAT_SAVINGS_ACCOUNT': 'category',
                      'CAT_DEPENDENTS': 'category'})

test = test.astype({'CAT_GAMBLING_INT': 'category', 'DEFAULT': 'category',
                    'CAT_DEBT': 'category', 'CAT_CREDIT_CARD': 'category',
                    'CAT_MORTGAGE': 'category', 'CAT_SAVINGS_ACCOUNT': 'category',
                    'CAT_DEPENDENTS': 'category'})

# Check data types
print("Train Data Types:")
print(train.info(verbose=True))


print("\nTest Data Types:")
print(test.info(verbose=True))

Train Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CUST_ID                  700 non-null    object
 1   INCOME                   700 non-null    int64
 2   SAVINGS                  700 non-null    int64
 3   DEBT                     700 non-null    int64
 4   R_SAVINGS_INCOME         700 non-null    float64
 5   R_DEBT_INCOME            700 non-null    float64
 6   R_DEBT_SAVINGS           700 non-null    float64
 7   T_CLOTHING_12            700 non-null    int64
 8   T_CLOTHING_6             700 non-null    int64
 9   R_CLOTHING               700 non-null    float64
 10  R_CLOTHING_INCOME        700 non-null    float64
 11  R_CLOTHING_SAVINGS       700 non-null    float64
 12  R_CLOTHING_DEBT          700 non-null    float64
 13  T_EDUCATION_12           700 non-null    int64
 14  T_EDUCATION_6            700 non-null    int64
 15  R_EDUCATION              700 non-null    float64
 16  R_EDUCATION_INCOME       700 non-null    float64
 17  R_EDUCATION_SAVINGS      700 non-null    float64
 18  R_EDUCATION_DEBT         700 non-null    float64
 19  T_ENTERTAINMENT_12       700 non-null    int64
 20  T_ENTERTAINMENT_6        700 non-null    int64
 21  R_ENTERTAINMENT          700 non-null    float64
 22  R_ENTERTAINMENT_INCOME   700 non-null    float64
 23  R_ENTERTAINMENT_SAVINGS  700 non-null    float64
 24  R_ENTERTAINMENT_DEBT     700 non-null    float64
 25  T_FINES_12               700 non-null    int64
 26  T_FINES_6                700 non-null    int64
 27  R_FINES                  700 non-null    float64
 28  R_FINES_INCOME           700 non-null    float64
 29  R_FINES_SAVINGS          700 non-null    float64
 30  R_FINES_DEBT             700 non-null    float64
 31  T_GAMBLING_12            700 non-null    int64
 32  T_GAMBLING_6             700 non-null    int64
 33  R_GAMBLING               700 non-null    float64
 34  R_GAMBLING_INCOME        700 non-null    float64
 35  R_GAMBLING_SAVINGS       700 non-null    float64
 36  R_GAMBLING_DEBT          700 non-null    float64
 37  T_GROCERIES_12           700 non-null    int64
 38  T_GROCERIES_6            700 non-null    int64
 39  R_GROCERIES              700 non-null    float64
 40  R_GROCERIES_INCOME       700 non-null    float64
 41  R_GROCERIES_SAVINGS      700 non-null    float64
 42  R_GROCERIES_DEBT         700 non-null    float64
 43  T_HEALTH_12              700 non-null    int64
 44  T_HEALTH_6               700 non-null    int64
 45  R_HEALTH                 700 non-null    float64
 46  R_HEALTH_INCOME          700 non-null    float64
 47  R_HEALTH_SAVINGS         700 non-null    float64
 48  R_HEALTH_DEBT            700 non-null    float64
 49  T_HOUSING_12             700 non-null    int64
 50  T_HOUSING_6              700 non-null    int64
 51  R_HOUSING                700 non-null    float64
 52  R_HOUSING_INCOME         700 non-null    float64
 53  R_HOUSING_SAVINGS        700 non-null    float64
 54  R_HOUSING_DEBT           700 non-null    float64
 55  T_TAX_12                 700 non-null    int64
 56  T_TAX_6                  700 non-null    int64
 57  R_TAX                    700 non-null    float64
 58  R_TAX_INCOME             700 non-null    float64
 59  R_TAX_SAVINGS            700 non-null    float64
 60  R_TAX_DEBT               700 non-null    float64
 61  T_TRAVEL_12              700 non-null    int64
 62  T_TRAVEL_6               700 non-null    int64
 63  R_TRAVEL                 700 non-null    float64
 64  R_TRAVEL_INCOME          700 non-null    float64
 65  R_TRAVEL_SAVINGS         700 non-null    float64
 66  R_TRAVEL_DEBT            700 non-null    float64
 67  T_UTILITIES_12           700 non-null    int64
 68  T_UTILITIES_6            700 non-null    int64
 69  R_UTILITIES              700 non-null    float64
 70  R_UTILITIES_INCOME       700 non-null    float64
 71  R_UTILITIES_SAVINGS      700 non-null    float64
 72  R_UTILITIES_DEBT         700 non-null    float64
 73  T_EXPENDITURE_12         700 non-null    int64
 74  T_EXPENDITURE_6          700 non-null    int64
 75  R_EXPENDITURE            700 non-null    float64
 76  R_EXPENDITURE_INCOME     700 non-null    float64
 77  R_EXPENDITURE_SAVINGS    700 non-null    float64
 78  R_EXPENDITURE_DEBT       700 non-null    float64
 79  CAT_DEBT                 700 non-null    category
 80  CAT_CREDIT_CARD          700 non-null    category
 81  CAT_MORTGAGE             700 non-null    category
 82  CAT_SAVINGS_ACCOUNT      700 non-null    category
 83  CAT_DEPENDENTS           700 non-null    category
 84  CREDIT_SCORE             700 non-null    int64
 85  DEFAULT                  700 non-null    category
 86  CAT_GAMBLING_INT         700 non-null    category
dtypes: category(7), float64(51), int64(28), object(1)
memory usage: 443.3+ KB
None

Test Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 86 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CUST_ID                  300 non-null    object
 1   INCOME                   300 non-null    int64
 2   SAVINGS                  300 non-null    int64
 3   DEBT                     300 non-null    int64
 4   R_SAVINGS_INCOME         300 non-null    float64
 5   R_DEBT_INCOME            300 non-null    float64
 6   R_DEBT_SAVINGS           300 non-null    float64
 7   T_CLOTHING_12            300 non-null    int64
 8   T_CLOTHING_6             300 non-null    int64
 9   R_CLOTHING               300 non-null    float64
 10  R_CLOTHING_INCOME        300 non-null    float64
 11  R_CLOTHING_SAVINGS       300 non-null    float64
 12  R_CLOTHING_DEBT          300 non-null    float64
 13  T_EDUCATION_12           300 non-null    int64
 14  T_EDUCATION_6            300 non-null    int64
 15  R_EDUCATION              300 non-null    float64
 16  R_EDUCATION_INCOME       300 non-null    float64
 17  R_EDUCATION_SAVINGS      300 non-null    float64
 18  R_EDUCATION_DEBT         300 non-null    float64
 19  T_ENTERTAINMENT_12       300 non-null    int64
 20  T_ENTERTAINMENT_6        300 non-null    int64
 21  R_ENTERTAINMENT          300 non-null    float64
 22  R_ENTERTAINMENT_INCOME   300 non-null    float64
 23  R_ENTERTAINMENT_SAVINGS  300 non-null    float64
 24  R_ENTERTAINMENT_DEBT     300 non-null    float64
 25  T_FINES_12               300 non-null    int64
 26  T_FINES_6                300 non-null    int64
 27  R_FINES                  300 non-null    float64
 28  R_FINES_INCOME           300 non-null    float64
 29  R_FINES_SAVINGS          300 non-null    float64
 30  R_FINES_DEBT             300 non-null    float64
 31  T_GAMBLING_12            300 non-null    int64
 32  T_GAMBLING_6             300 non-null    int64
 33  R_GAMBLING               300 non-null    float64
 34  R_GAMBLING_INCOME        300 non-null    float64
 35  R_GAMBLING_SAVINGS       300 non-null    float64
 36  R_GAMBLING_DEBT          300 non-null    float64
 37  T_GROCERIES_12           300 non-null    int64
 38  T_GROCERIES_6            300 non-null    int64
 39  R_GROCERIES              300 non-null    float64
 40  R_GROCERIES_INCOME       300 non-null    float64
 41  R_GROCERIES_SAVINGS      300 non-null    float64
 42  R_GROCERIES_DEBT         300 non-null    float64
 43  T_HEALTH_12              300 non-null    int64
 44  T_HEALTH_6               300 non-null    int64
 45  R_HEALTH                 300 non-null    float64
 46  R_HEALTH_INCOME          300 non-null    float64
 47  R_HEALTH_SAVINGS         300 non-null    float64
 48  R_HEALTH_DEBT            300 non-null    float64
 49  T_HOUSING_12             300 non-null    int64
 50  T_HOUSING_6              300 non-null    int64
 51  R_HOUSING                300 non-null    float64
 52  R_HOUSING_INCOME         300 non-null    float64
 53  R_HOUSING_SAVINGS        300 non-null    float64
 54  R_HOUSING_DEBT           300 non-null    float64
 55  T_TAX_12                 300 non-null    int64
 56  T_TAX_6                  300 non-null    int64
 57  R_TAX                    300 non-null    float64
 58  R_TAX_INCOME             300 non-null    float64
 59  R_TAX_SAVINGS            300 non-null    float64
 60  R_TAX_DEBT               300 non-null    float64
 61  T_TRAVEL_12              300 non-null    int64
 62  T_TRAVEL_6               300 non-null    int64
 63  R_TRAVEL                 300 non-null    float64
 64  R_TRAVEL_INCOME          300 non-null    float64
 65  R_TRAVEL_SAVINGS         300 non-null    float64
 66  R_TRAVEL_DEBT            300 non-null    float64
 67  T_UTILITIES_12           300 non-null    int64
 68  T_UTILITIES_6            300 non-null    int64
 69  R_UTILITIES              300 non-null    float64
 70  R_UTILITIES_INCOME       300 non-null    float64
 71  R_UTILITIES_SAVINGS      300 non-null    float64
 72  R_UTILITIES_DEBT         300 non-null    float64
 73  T_EXPENDITURE_12         300 non-null    int64
 74  T_EXPENDITURE_6          300 non-null    int64
 75  R_EXPENDITURE            300 non-null    float64
 76  R_EXPENDITURE_INCOME     300 non-null    float64
 77  R_EXPENDITURE_SAVINGS    300 non-null    float64
 78  R_EXPENDITURE_DEBT       300 non-null    float64
 79  CAT_DEBT                 300 non-null    category
 80  CAT_CREDIT_CARD          300 non-null    category
 81  CAT_MORTGAGE             300 non-null    category
 82  CAT_SAVINGS_ACCOUNT      300 non-null    category
 83  CAT_DEPENDENTS           300 non-null    category
 84  DEFAULT                  300 non-null    category
 85  CAT_GAMBLING_INT         300 non-null    category
dtypes: category(7), float64(51), int64(27), object(1)
memory usage: 188.2+ KB
None

In [6]:
train.columns

Index(['CUST_ID', 'INCOME', 'SAVINGS', 'DEBT', 'R_SAVINGS_INCOME',
       'R_DEBT_INCOME', 'R_DEBT_SAVINGS', 'T_CLOTHING_12', 'T_CLOTHING_6',
       'R_CLOTHING', 'R_CLOTHING_INCOME', 'R_CLOTHING_SAVINGS',
       'R_CLOTHING_DEBT', 'T_EDUCATION_12', 'T_EDUCATION_6', 'R_EDUCATION',
       'R_EDUCATION_INCOME', 'R_EDUCATION_SAVINGS', 'R_EDUCATION_DEBT',
       'T_ENTERTAINMENT_12', 'T_ENTERTAINMENT_6', 'R_ENTERTAINMENT',
       'R_ENTERTAINMENT_INCOME', 'R_ENTERTAINMENT_SAVINGS',
       'R_ENTERTAINMENT_DEBT', 'T_FINES_12', 'T_FINES_6', 'R_FINES',
       'R_FINES_INCOME', 'R_FINES_SAVINGS', 'R_FINES_DEBT', 'T_GAMBLING_12',
       'T_GAMBLING_6', 'R_GAMBLING', 'R_GAMBLING_INCOME', 'R_GAMBLING_SAVINGS',
       'R_GAMBLING_DEBT', 'T_GROCERIES_12', 'T_GROCERIES_6', 'R_GROCERIES',
       'R_GROCERIES_INCOME', 'R_GROCERIES_SAVINGS', 'R_GROCERIES_DEBT',
       'T_HEALTH_12', 'T_HEALTH_6', 'R_HEALTH', 'R_HEALTH_INCOME',
       'R_HEALTH_SAVINGS', 'R_HEALTH_DEBT', 'T_HOUSING_12', 'T_HOUSING_6',
       'R_HOUSING', 'R_HOUSING_INCOME', 'R_HOUSING_SAVINGS', 'R_HOUSING_DEBT',
       'T_TAX_12', 'T_TAX_6', 'R_TAX', 'R_TAX_INCOME', 'R_TAX_SAVINGS',
       'R_TAX_DEBT', 'T_TRAVEL_12', 'T_TRAVEL_6', 'R_TRAVEL',
       'R_TRAVEL_INCOME', 'R_TRAVEL_SAVINGS', 'R_TRAVEL_DEBT',
       'T_UTILITIES_12', 'T_UTILITIES_6', 'R_UTILITIES', 'R_UTILITIES_INCOME',
       'R_UTILITIES_SAVINGS', 'R_UTILITIES_DEBT', 'T_EXPENDITURE_12',
       'T_EXPENDITURE_6', 'R_EXPENDITURE', 'R_EXPENDITURE_INCOME',
       'R_EXPENDITURE_SAVINGS', 'R_EXPENDITURE_DEBT', 'CAT_DEBT',
       'CAT_CREDIT_CARD', 'CAT_MORTGAGE', 'CAT_SAVINGS_ACCOUNT',
       'CAT_DEPENDENTS', 'CREDIT_SCORE', 'DEFAULT', 'CAT_GAMBLING_INT'],
      dtype='object')

In [7]:
x_CV = train.drop(columns=['CUST_ID', 'CREDIT_SCORE'])
x_CV

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,DEFAULT,CAT_GAMBLING_INT
0,195779,307652,1468341,1.5714,7.5000,4.7727,11842,1541,0.1301,0.0605,...,0.7143,0.4545,0.0952,1,0,0,1,0,0,2
1,328892,1465066,5501471,4.4546,16.7273,3.7551,16701,10132,0.6067,0.0508,...,0.9091,0.2041,0.0543,1,1,1,1,1,0,2
2,86786,433928,899414,5.0000,10.3636,2.0727,4098,3167,0.7728,0.0472,...,0.9091,0.1818,0.0877,1,0,1,1,1,1,2
3,92747,176219,500834,1.9000,5.4000,2.8421,8748,3722,0.4255,0.0943,...,1.0000,0.5263,0.1852,1,1,0,1,0,0,0
4,55360,110720,437344,2.0000,7.9000,3.9500,3926,1105,0.2815,0.0709,...,1.0000,0.5000,0.1266,1,0,0,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,124492,572663,1904728,4.6000,15.3000,3.3261,5196,920,0.1771,0.0417,...,1.0000,0.2174,0.0654,1,0,0,1,1,0,0
696,337242,2422014,4046909,7.1818,12.0000,1.6709,9034,4187,0.4635,0.0268,...,0.9091,0.1266,0.0758,1,1,1,1,1,1,2
697,152243,478478,772090,3.1429,5.0714,1.6136,4225,1044,0.2471,0.0278,...,0.7143,0.2273,0.1408,1,0,0,1,0,0,2
698,188674,1021982,1871013,5.4167,9.9166,1.8308,5382,666,0.1237,0.0285,...,0.8333,0.1538,0.0840,1,1,1,1,1,0,2
699,19062,146142,36006,7.6667,1.8889,0.2464,900,462,0.5133,0.0472,...,1.1111,0.1449,0.5882,1,0,0,1,0,0,0

In [8]:
y_CV = train['CREDIT_SCORE']
y_CV

0      575
1      418
2      521
3      606
4      575
      ...
695    515
696    502
697    599
698    537
699    650
Name: CREDIT_SCORE, Length: 700, dtype: int64

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge

# Define the number of folds
k_folds = 5

# Define the model
model = LinearRegression()
#model = SVR(kernel='linear')
#model = DecisionTreeRegressor()
#model = RandomForestRegressor()
#model = GradientBoostingRegressor()
#model = Ridge()
#model = ElasticNet()
#model = BayesianRidge()


# Perform k-fold cross-validation
scores = cross_val_score(model, x_CV, y_CV, cv=k_folds, scoring = 'neg_mean_squared_error')

# Print the scores for each fold
rmse = np.mean(np.sqrt(np.abs(scores)))
print("Scores for each fold:", rmse)

Scores for each fold: 29.18064661791932

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

# Define preprocessing steps for numerical and categorical columns
numerical_features = ['INCOME', 'SAVINGS', 'DEBT', 'R_SAVINGS_INCOME',
       'R_DEBT_INCOME', 'R_DEBT_SAVINGS', 'T_CLOTHING_12', 'T_CLOTHING_6',
       'R_CLOTHING', 'R_CLOTHING_INCOME', 'R_CLOTHING_SAVINGS',
       'R_CLOTHING_DEBT', 'T_EDUCATION_12', 'T_EDUCATION_6', 'R_EDUCATION',
       'R_EDUCATION_INCOME', 'R_EDUCATION_SAVINGS', 'R_EDUCATION_DEBT',
       'T_ENTERTAINMENT_12', 'T_ENTERTAINMENT_6', 'R_ENTERTAINMENT',
       'R_ENTERTAINMENT_INCOME', 'R_ENTERTAINMENT_SAVINGS',
       'R_ENTERTAINMENT_DEBT', 'T_FINES_12', 'T_FINES_6', 'R_FINES',
       'R_FINES_INCOME', 'R_FINES_SAVINGS', 'R_FINES_DEBT', 'T_GAMBLING_12',
       'T_GAMBLING_6', 'R_GAMBLING', 'R_GAMBLING_INCOME', 'R_GAMBLING_SAVINGS',
       'R_GAMBLING_DEBT', 'T_GROCERIES_12', 'T_GROCERIES_6', 'R_GROCERIES',
       'R_GROCERIES_INCOME', 'R_GROCERIES_SAVINGS', 'R_GROCERIES_DEBT',
       'T_HEALTH_12', 'T_HEALTH_6', 'R_HEALTH', 'R_HEALTH_INCOME',
       'R_HEALTH_SAVINGS', 'R_HEALTH_DEBT', 'T_HOUSING_12', 'T_HOUSING_6',
       'R_HOUSING', 'R_HOUSING_INCOME', 'R_HOUSING_SAVINGS', 'R_HOUSING_DEBT',
       'T_TAX_12', 'T_TAX_6', 'R_TAX', 'R_TAX_INCOME', 'R_TAX_SAVINGS',
       'R_TAX_DEBT', 'T_TRAVEL_12', 'T_TRAVEL_6', 'R_TRAVEL',
       'R_TRAVEL_INCOME', 'R_TRAVEL_SAVINGS', 'R_TRAVEL_DEBT',
       'T_UTILITIES_12', 'T_UTILITIES_6', 'R_UTILITIES', 'R_UTILITIES_INCOME',
       'R_UTILITIES_SAVINGS', 'R_UTILITIES_DEBT', 'T_EXPENDITURE_12',
       'T_EXPENDITURE_6', 'R_EXPENDITURE', 'R_EXPENDITURE_INCOME',
       'R_EXPENDITURE_SAVINGS', 'R_EXPENDITURE_DEBT']


numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())  # Adding polynomial features
])


# Combine preprocessing steps for all types of features
preprocessor = ColumnTransformer(transformers=[('num', numerical_transformer, numerical_features)])

# Create a pipeline with preprocessing and model fitting
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('regressor', Ridge())])

# # Fit the pipeline to the training data
# pipeline.fit(X_train, y_train)

# # Evaluate model performance
# train_rmse = mean_squared_error(y_train, pipeline.predict(X_train), squared=False)
# test_rmse = mean_squared_error(y_test, pipeline.predict(X_test), squared=False)

# print("Train RMSE:", train_rmse)
# print("Test RMSE:", test_rmse)

# Define the number of folds
k_folds = 5

# Perform k-fold cross-validation
scores = cross_val_score(pipeline, x_CV, y_CV, cv=k_folds, scoring = 'neg_mean_squared_error')

# Print the scores for each fold
rmse = np.mean(np.sqrt(np.abs(scores)))
print("Scores for each fold:", rmse)

Scores for each fold: 29.505158872294277

In [11]:
# Set column 'CUST_ID' as index
train.set_index('CUST_ID', inplace=True)
test.set_index('CUST_ID', inplace=True)
train

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CREDIT_SCORE,DEFAULT,CAT_GAMBLING_INT
CUST_ID,,,,,,,,,,,,,,,,,,,,,
17cef92dcaa72204,195779,307652,1468341,1.5714,7.5000,4.7727,11842,1541,0.1301,0.0605,...,0.4545,0.0952,1,0,0,1,0,575,0,2
d5686fcfa23294cd,328892,1465066,5501471,4.4546,16.7273,3.7551,16701,10132,0.6067,0.0508,...,0.2041,0.0543,1,1,1,1,1,418,0,2
927fa6bd39cc2dc1,86786,433928,899414,5.0000,10.3636,2.0727,4098,3167,0.7728,0.0472,...,0.1818,0.0877,1,0,1,1,1,521,1,2
ec34b6662956e833,92747,176219,500834,1.9000,5.4000,2.8421,8748,3722,0.4255,0.0943,...,0.5263,0.1852,1,1,0,1,0,606,0,0
f4c9d3c223fbc054,55360,110720,437344,2.0000,7.9000,3.9500,3926,1105,0.2815,0.0709,...,0.5000,0.1266,1,0,0,1,0,575,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a9f968f56226bc48,124492,572663,1904728,4.6000,15.3000,3.3261,5196,920,0.1771,0.0417,...,0.2174,0.0654,1,0,0,1,1,515,0,0
80cd6b5ac5e17831,337242,2422014,4046909,7.1818,12.0000,1.6709,9034,4187,0.4635,0.0268,...,0.1266,0.0758,1,1,1,1,1,502,1,2
b56fc25c694eb83d,152243,478478,772090,3.1429,5.0714,1.6136,4225,1044,0.2471,0.0278,...,0.2273,0.1408,1,0,0,1,0,599,0,2
ac254de609c6fe5f,188674,1021982,1871013,5.4167,9.9166,1.8308,5382,666,0.1237,0.0285,...,0.1538,0.0840,1,1,1,1,1,537,0,2
3d40082c3c8c575f,19062,146142,36006,7.6667,1.8889,0.2464,900,462,0.5133,0.0472,...,0.1449,0.5882,1,0,0,1,0,650,0,0

In [12]:
X_train = train.drop(columns=['CREDIT_SCORE', 'DEFAULT'])
X_train

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CAT_GAMBLING_INT
CUST_ID,,,,,,,,,,,,,,,,,,,,,
17cef92dcaa72204,195779,307652,1468341,1.5714,7.5000,4.7727,11842,1541,0.1301,0.0605,...,0.3687,0.7143,0.4545,0.0952,1,0,0,1,0,2
d5686fcfa23294cd,328892,1465066,5501471,4.4546,16.7273,3.7551,16701,10132,0.6067,0.0508,...,0.5193,0.9091,0.2041,0.0543,1,1,1,1,1,2
927fa6bd39cc2dc1,86786,433928,899414,5.0000,10.3636,2.0727,4098,3167,0.7728,0.0472,...,0.5144,0.9091,0.1818,0.0877,1,0,1,1,1,2
ec34b6662956e833,92747,176219,500834,1.9000,5.4000,2.8421,8748,3722,0.4255,0.0943,...,0.5353,1.0000,0.5263,0.1852,1,1,0,1,0,0
f4c9d3c223fbc054,55360,110720,437344,2.0000,7.9000,3.9500,3926,1105,0.2815,0.0709,...,0.5328,1.0000,0.5000,0.1266,1,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a9f968f56226bc48,124492,572663,1904728,4.6000,15.3000,3.3261,5196,920,0.1771,0.0417,...,0.4715,1.0000,0.2174,0.0654,1,0,0,1,1,0
80cd6b5ac5e17831,337242,2422014,4046909,7.1818,12.0000,1.6709,9034,4187,0.4635,0.0268,...,0.5817,0.9091,0.1266,0.0758,1,1,1,1,1,2
b56fc25c694eb83d,152243,478478,772090,3.1429,5.0714,1.6136,4225,1044,0.2471,0.0278,...,0.4125,0.7143,0.2273,0.1408,1,0,0,1,0,2
ac254de609c6fe5f,188674,1021982,1871013,5.4167,9.9166,1.8308,5382,666,0.1237,0.0285,...,0.4400,0.8333,0.1538,0.0840,1,1,1,1,1,2
3d40082c3c8c575f,19062,146142,36006,7.6667,1.8889,0.2464,900,462,0.5133,0.0472,...,0.4704,1.1111,0.1449,0.5882,1,0,0,1,0,0

In [13]:
y_train = train['CREDIT_SCORE']
y_train

CUST_ID
17cef92dcaa72204    575
d5686fcfa23294cd    418
927fa6bd39cc2dc1    521
ec34b6662956e833    606
f4c9d3c223fbc054    575
                   ...
a9f968f56226bc48    515
80cd6b5ac5e17831    502
b56fc25c694eb83d    599
ac254de609c6fe5f    537
3d40082c3c8c575f    650
Name: CREDIT_SCORE, Length: 700, dtype: int64

In [14]:
#X_test = pd.DataFrame(test)
X_test = test.drop(columns=['DEFAULT'])
X_test

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,CAT_GAMBLING_INT
CUST_ID,,,,,,,,,,,,,,,,,,,,,
2ece1c0c86d06134,81290,966445,162580,11.8889,2.0000,0.1682,1255,0,0.1268,0.0154,...,0.5455,1.1111,0.0935,0.5556,1,0,0,1,0,0
94f9e0d9a7335975,25397,12698,690798,0.5000,27.2000,54.4021,1065,726,0.6817,0.0419,...,0.5248,1.0000,2.0001,0.0368,1,0,0,1,0,0
9f577ce0fd5bc804,158349,906910,187140,5.7273,1.1818,0.2063,6546,3268,0.4992,0.0413,...,0.5260,0.9091,0.1587,0.7692,1,0,0,1,1,2
50e9b79060928e1a,181639,544916,1634749,3.0000,9.0000,3.0000,10144,4351,0.4289,0.0558,...,0.4357,0.7143,0.2381,0.0794,1,1,0,1,0,0
c5be52b42ad6658f,277118,1408685,3972030,5.0833,14.3334,2.8197,8739,5561,0.6363,0.0315,...,0.5232,0.8333,0.1639,0.0581,1,1,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987b2eb86827ba65,307348,351254,1866039,1.1429,6.0714,5.3125,15277,4034,0.2641,0.0497,...,0.3593,0.7143,0.6250,0.1176,1,1,1,1,0,0
33429bfd04967f54,244600,838627,1118170,3.4286,4.5714,1.3333,14348,8273,0.5766,0.0587,...,0.6207,0.7143,0.2083,0.1562,1,0,1,1,0,0
ac001fd6510a0063,17371,129317,25091,7.4444,1.4444,0.1940,527,330,0.6262,0.0303,...,0.4995,1.1111,0.1493,0.7692,1,0,0,1,0,1
214fb53907843cce,97081,153712,347874,1.5833,3.5833,2.2632,7903,4098,0.5185,0.0814,...,0.4989,0.8333,0.5263,0.2326,1,0,0,1,0,0
f77542951a9e3503,28413,207415,31254,7.3000,1.1000,0.1507,742,156,0.2102,0.0261,...,0.5447,1.0000,0.1370,0.9091,1,0,0,1,0,0

In [15]:
X_test.dtypes

INCOME                    int64
SAVINGS                   int64
DEBT                      int64
R_SAVINGS_INCOME        float64
R_DEBT_INCOME           float64
                         ...
CAT_CREDIT_CARD        category
CAT_MORTGAGE           category
CAT_SAVINGS_ACCOUNT    category
CAT_DEPENDENTS         category
CAT_GAMBLING_INT       category
Length: 84, dtype: object

In [16]:
# # Importing necessary libraries
# from sklearn.datasets import make_regression
# from sklearn.model_selection import train_test_split
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.metrics import mean_squared_error

# # Creating and training the Decision Tree Regression model
# tree_reg = DecisionTreeRegressor(max_depth=5)  # You can adjust max_depth for controlling the complexity
# tree_reg.fit(X_train, y_train)

# # Making predictions on the test set
# y_pred = tree_reg.predict(X_test)
# y_pred

In [17]:
# Define preprocessing steps for numerical and categorical columns
numerical_features = ['INCOME', 'SAVINGS', 'DEBT', 'R_SAVINGS_INCOME',
       'R_DEBT_INCOME', 'R_DEBT_SAVINGS', 'T_CLOTHING_12', 'T_CLOTHING_6',
       'R_CLOTHING', 'R_CLOTHING_INCOME', 'R_CLOTHING_SAVINGS',
       'R_CLOTHING_DEBT', 'T_EDUCATION_12', 'T_EDUCATION_6', 'R_EDUCATION',
       'R_EDUCATION_INCOME', 'R_EDUCATION_SAVINGS', 'R_EDUCATION_DEBT',
       'T_ENTERTAINMENT_12', 'T_ENTERTAINMENT_6', 'R_ENTERTAINMENT',
       'R_ENTERTAINMENT_INCOME', 'R_ENTERTAINMENT_SAVINGS',
       'R_ENTERTAINMENT_DEBT', 'T_FINES_12', 'T_FINES_6', 'R_FINES',
       'R_FINES_INCOME', 'R_FINES_SAVINGS', 'R_FINES_DEBT', 'T_GAMBLING_12',
       'T_GAMBLING_6', 'R_GAMBLING', 'R_GAMBLING_INCOME', 'R_GAMBLING_SAVINGS',
       'R_GAMBLING_DEBT', 'T_GROCERIES_12', 'T_GROCERIES_6', 'R_GROCERIES',
       'R_GROCERIES_INCOME', 'R_GROCERIES_SAVINGS', 'R_GROCERIES_DEBT',
       'T_HEALTH_12', 'T_HEALTH_6', 'R_HEALTH', 'R_HEALTH_INCOME',
       'R_HEALTH_SAVINGS', 'R_HEALTH_DEBT', 'T_HOUSING_12', 'T_HOUSING_6',
       'R_HOUSING', 'R_HOUSING_INCOME', 'R_HOUSING_SAVINGS', 'R_HOUSING_DEBT',
       'T_TAX_12', 'T_TAX_6', 'R_TAX', 'R_TAX_INCOME', 'R_TAX_SAVINGS',
       'R_TAX_DEBT', 'T_TRAVEL_12', 'T_TRAVEL_6', 'R_TRAVEL',
       'R_TRAVEL_INCOME', 'R_TRAVEL_SAVINGS', 'R_TRAVEL_DEBT',
       'T_UTILITIES_12', 'T_UTILITIES_6', 'R_UTILITIES', 'R_UTILITIES_INCOME',
       'R_UTILITIES_SAVINGS', 'R_UTILITIES_DEBT', 'T_EXPENDITURE_12',
       'T_EXPENDITURE_6', 'R_EXPENDITURE', 'R_EXPENDITURE_INCOME',
       'R_EXPENDITURE_SAVINGS', 'R_EXPENDITURE_DEBT']


numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())  # Adding polynomial features
])


# Combine preprocessing steps for all types of features
preprocessor = ColumnTransformer(transformers=[('num', numerical_transformer, numerical_features)])

# Create a pipeline with preprocessing and model fitting
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('regressor', Ridge())])

# # Fit the pipeline to the training data
pipeline.fit(X_train, y_train)
yhat = pipeline.predict(X_test)
yhat

array([630.27788726, 409.59497795, 654.4166452 , 584.77680008,
       520.81430192, 576.28845215, 616.48689533, 531.01640667,
       596.89618267, 603.75879012, 617.96373629, 630.92745492,
       591.02888807, 579.28751928, 477.60957103, 608.40123497,
       612.44345791, 663.49168535, 598.19803181, 589.21872132,
       577.36244628, 564.17559525, 636.08687465, 418.28315877,
       607.31041166, 603.66970083, 604.69875513, 641.88232161,
       637.93558074, 556.39365185, 427.58893473, 580.35211036,
       614.01495418, 544.75932491, 567.42215916, 621.65111254,
       593.50264314, 662.86884531, 532.11795501, 611.1372027 ,
       634.2617971 , 650.73913188, 594.07559143, 634.16786808,
       653.97391703, 617.13301547, 574.39248915, 610.91391209,
       539.51274367, 706.13790047, 593.02284873, 544.89236149,
       568.68809281, 600.52805253, 635.99757571, 657.35376669,
       555.73106829, 540.05724303, 539.56921238, 496.59659258,
       551.6649481 , 596.56756764, 556.29470561, 623.08313446,
       602.87804656, 545.54076838, 667.71038232, 579.99948177,
       555.23858216, 618.85261282, 637.94687197, 622.58267247,
       632.25914733, 586.23755275, 624.20011538, 424.24407469,
       607.19601021, 607.68181484, 662.2760635 , 528.96080036,
       617.1574822 , 670.99993156, 484.66611712, 609.00745947,
       586.46578036, 631.27447967, 565.38716035, 628.47246899,
       611.13687273, 507.5522167 , 565.21279344, 639.18401321,
       633.26370675, 627.42172972, 622.75813821, 593.17144488,
       411.22655742, 647.98974172, 486.458879  , 570.04258105,
       643.60017902, 509.46181689, 609.60055067, 606.14680209,
       424.38739736, 623.73015596, 581.57308592, 576.78691538,
       600.61324205, 640.97340593, 471.41285819, 564.99062341,
       336.43541174, 640.60536049, 632.63361523, 556.84513785,
       527.55236085, 566.92468077, 631.83277078, 644.57060449,
       618.02755467, 593.79052006, 613.96079875, 618.6104293 ,
       538.37568049, 387.0929585 , 539.74815523, 618.94066301,
       590.41092282, 590.42221491, 555.5905376 , 511.07095755,
       630.65206577, 620.31460097, 541.30344743, 691.77917077,
       622.54325159, 586.14009452, 490.89359448, 436.02440699,
       566.06624855, 590.21493789, 626.48561289, 577.81030568,
       477.02758398, 569.57674441, 642.46174491, 583.18294095,
       515.13709059, 568.27947292, 532.41673098, 607.88307294,
       556.44585822, 536.27226662, 647.85057707, 573.73150736,
       407.15679609, 636.58999838, 581.57861998, 606.82343467,
       609.73696168, 612.7536262 , 558.14786722, 603.90136389,
       623.52518241, 579.04481498, 487.1355251 , 531.61143747,
       609.34465092, 612.52467563, 605.65376775, 624.75073858,
       594.48088361, 646.44894906, 634.1215258 , 601.74463843,
       574.41251127, 619.26246665, 463.92568549, 622.92835458,
       613.44368301, 593.71520396, 629.13266372, 629.51959173,
       604.97306468, 627.04518954, 672.08229797, 561.25933822,
       449.40653329, 557.56409776, 562.44784382, 638.84619948,
       618.21782067, 576.57300235, 477.83325906, 417.18475254,
       554.01583189, 634.79172776, 628.46798806, 639.50865537,
       609.75920251, 518.59361302, 568.50811356, 633.48283455,
       680.57803527, 619.31549227, 615.88004779, 549.77984937,
       597.72035315, 556.56778975, 652.38735398, 548.96192036,
       559.14015418, 569.64645495, 591.95240702, 679.4945995 ,
       640.71374145, 646.14617406, 638.21907305, 615.52575114,
       553.66563441, 624.13442032, 614.84935681, 510.49288066,
       655.52168064, 623.15994319, 616.5943431 , 617.25267558,
       649.98718621, 641.64141748, 522.38536254, 601.5405874 ,
       590.93467329, 624.26035543, 676.53015971, 630.83876053,
       646.58529802, 588.32417043, 604.83287844, 591.46037332,
       565.42712356, 619.97854371, 606.29265155, 545.28443321,
       642.83578481, 657.92624863, 649.01958394, 607.5019494 ,
       614.33248859, 626.00277913, 597.65901072, 558.22836458,
       601.71326106, 636.55907838, 566.95714816, 579.13792231,
       633.41175469, 571.22664075, 548.36087859, 582.93918591,
       663.0745844 , 577.32288624, 535.24078132, 595.99965013,
       620.40605579, 615.91781742, 564.83715371, 632.90048689,
       566.4735134 , 625.01677874, 479.19041012, 619.86251829,
       499.84868139, 593.4409895 , 624.83592683, 663.32153648,
       601.7262367 , 593.46594539, 581.43070958, 651.45619913,
       640.9514467 , 526.52190662, 634.10324979, 597.1153083 ,
       584.55838148, 604.60273307, 581.30288639, 493.18375494,
       685.56492643, 589.03729397, 631.02681819, 549.61061472,
       595.34053312, 607.83817882, 632.26882147, 621.71929395,
       603.68111202, 611.38361033, 627.25545043, 630.06040165])

In [18]:
model = Ridge()
model.fit(X_train, y_train)
yhat = model.predict(X_test)
yhat

array([632.08851985, 402.31633422, 638.4023656 , 582.83718713,
       515.28100705, 569.43434779, 608.90392552, 545.71148363,
       598.8112881 , 596.48048345, 616.74415179, 631.87770716,
       586.90519699, 579.05926982, 487.58879079, 619.26753996,
       610.80655577, 670.19321495, 583.36206125, 584.07371108,
       583.96041746, 543.36756671, 636.4470878 , 409.91289894,
       607.70375127, 608.62094474, 615.18434328, 644.2813368 ,
       637.2741306 , 544.77995448, 437.17273885, 576.59729191,
       612.05505324, 539.83147269, 573.86049033, 614.99507413,
       581.03719258, 653.32038988, 545.42943898, 611.97797333,
       621.67139712, 649.35671308, 586.12517872, 632.3206235 ,
       639.48291375, 608.57474308, 568.48405867, 579.60321124,
       548.36154911, 679.75697914, 599.5850092 , 545.05664597,
       567.05070746, 609.08501096, 632.34915112, 648.3685191 ,
       558.26702863, 557.24991879, 519.76435655, 497.58118872,
       542.52323002, 580.98617751, 556.8678017 , 616.78934032,
       606.33565371, 544.66952974, 657.82823531, 580.0621366 ,
       560.63994897, 621.30513917, 631.44264191, 616.03597398,
       635.78510504, 590.2266265 , 622.56987344, 432.04393964,
       611.65641826, 610.23929622, 662.08013679, 532.60984392,
       621.87545771, 662.17828086, 455.77583286, 619.0542485 ,
       584.6660267 , 626.96128476, 567.67764375, 621.15729185,
       590.88860229, 531.24517688, 561.38097319, 636.55118623,
       634.78719296, 619.62027543, 627.62229676, 596.52490879,
       419.02692175, 641.91281135, 476.19496421, 574.08796361,
       642.0410297 , 497.53919556, 616.20295881, 622.66664622,
       424.03094879, 618.5941112 , 566.70841879, 588.7280029 ,
       613.24644714, 640.91667826, 457.17537912, 565.61131969,
       329.25934743, 644.09234226, 630.86402807, 560.29568129,
       528.76969218, 563.78868266, 628.93361515, 651.78620868,
       612.19620138, 594.29644128, 620.9732088 , 610.93624025,
       546.5424172 , 414.81411292, 548.98614719, 621.52489333,
       595.29055298, 593.50412349, 568.67479653, 509.06700017,
       640.36621829, 610.31201762, 536.42074635, 690.05693646,
       624.95287358, 588.32782899, 495.01013759, 431.67668109,
       568.31251939, 585.2910705 , 625.25354443, 570.85085164,
       496.7988995 , 580.77204088, 638.38425822, 588.97697717,
       531.40241623, 571.40667186, 521.41963394, 620.27418773,
       564.14278536, 526.16703134, 651.24932569, 572.19017189,
       419.01133152, 636.89066617, 576.5912704 , 602.29028335,
       613.11019264, 619.77868809, 569.14833774, 592.86904645,
       621.12285588, 578.5960455 , 559.23633604, 529.58388611,
       600.53233094, 606.40766217, 614.19594813, 625.58630721,
       585.42870151, 645.24346791, 622.4931686 , 617.8330863 ,
       563.59120627, 614.20801653, 451.77308984, 626.77404582,
       624.17348965, 598.98355295, 617.26313459, 638.76181832,
       615.75310086, 626.34983848, 665.37758177, 564.02710325,
       448.07556216, 560.06108562, 569.12381424, 640.48912749,
       617.81745062, 584.79434601, 482.09205429, 414.06176105,
       540.4540156 , 622.60567594, 636.37021289, 619.62285149,
       602.82269301, 527.50399812, 566.03587147, 632.04072776,
       674.57651605, 621.029702  , 614.68065801, 550.32483649,
       597.56569092, 551.07928044, 646.59875768, 542.0217058 ,
       568.51549853, 571.27153131, 603.51666419, 657.17743738,
       644.12394469, 637.83983279, 637.86315192, 609.61943979,
       559.94880937, 614.61476829, 624.23290436, 515.69075451,
       654.66946039, 643.40394381, 607.71063809, 613.61957087,
       644.47733358, 630.32200899, 534.39810937, 616.7689895 ,
       600.62169554, 625.90900237, 681.98856112, 628.59522399,
       640.93617344, 596.40364531, 615.4307834 , 598.35552753,
       557.25696591, 625.4920842 , 589.6291587 , 551.74250578,
       638.74196187, 657.72894203, 646.76476456, 608.25325514,
       608.13898627, 631.97978215, 585.69852269, 571.5484874 ,
       616.89610761, 634.54081154, 556.25485985, 592.61521912,
       634.23757051, 570.74721084, 526.3361291 , 577.16642874,
       646.49321662, 567.29079592, 544.20239475, 601.56656081,
       622.47977738, 616.27638639, 544.19900964, 625.43410422,
       567.0691266 , 620.47987268, 476.71678045, 626.62842238,
       495.41858291, 596.01977234, 628.08742181, 666.39363314,
       601.59353576, 598.04883295, 583.20823937, 650.83934082,
       635.99178965, 529.79418477, 619.17431309, 609.82178315,
       610.71062388, 604.690832  , 574.43381457, 494.41723781,
       672.2158433 , 577.4988666 , 634.09101435, 552.51149525,
       598.15365242, 617.18160963, 632.75264365, 625.63499068,
       603.08754893, 610.62995572, 630.1176255 , 629.09982417])

In [19]:
predictions_df = pd.DataFrame(yhat, columns=['CREDIT_SCORE'], index=X_test.index)
predictions_df

                  CREDIT_SCORE
CUST_ID
2ece1c0c86d06134    632.088520
94f9e0d9a7335975    402.316334
9f577ce0fd5bc804    638.402366
50e9b79060928e1a    582.837187
c5be52b42ad6658f    515.281007
...                        ...
987b2eb86827ba65    625.634991
33429bfd04967f54    603.087549
ac001fd6510a0063    610.629956
214fb53907843cce    630.117626
f77542951a9e3503    629.099824

[300 rows x 1 columns]

In [20]:
predictions_df.to_csv('credScore.csv')